.col-center-block {  
    float: none;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
} 

.main-nav {  
   background-color: #440000
} 

.magintop20 {  
   margin-top: 20px
}

.maginleft20 {  
   margin-left: 80px
}

.maginright80 {  
   margin-right: 80px
}

.main-list-body {  
   margin-top: 20px;
   font-size: 20px;
   margin-left: 20px
}

