<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgd.crud.dao.QianggoubiaoMapper">
  <resultMap id="BaseResultMap" type="com.cgd.crud.bean.Qianggoubiao">
    <id column="qianggou_id" jdbcType="INTEGER" property="qianggouId" />
    <result column="qianngou_name" jdbcType="VARCHAR" property="qianngouName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="directe_url" jdbcType="VARCHAR" property="directeUrl" />
    <result column="is_invalid" jdbcType="CHAR" property="isInvalid" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="qianggoubiao_time" jdbcType="VARCHAR" property="qianggoubiaoTime" />
    <result column="qianggou_brand_id" jdbcType="INTEGER" property="qianggouBrandId" />
    <result column="qianggou_platform_id" jdbcType="INTEGER" property="qianggouPlatformId" />
  </resultMap>
  <resultMap type="com.cgd.crud.bean.Qianggoubiao" id="WithBrandResultMap">
     <id column="qianggou_id" jdbcType="INTEGER" property="qianggouId" />
    <result column="qianngou_name" jdbcType="VARCHAR" property="qianngouName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="directe_url" jdbcType="VARCHAR" property="directeUrl" />
    <result column="qianggoubiao_time" jdbcType="VARCHAR" property="qianggoubiaoTime" />
    <result column="qianggou_brand_id" jdbcType="INTEGER" property="qianggouBrandId" />
    <result column="qianggou_platform_id" jdbcType="INTEGER" property="qianggouPlatformId" />
    <!-- 指定联合查询出的品牌字段的封装 -->
    <association property="brand" javaType="com.cgd.crud.bean.Brand">
    	<id column="brand_id" property="brandId"/>
    	<result column="brand_name" property="brandName"/>
    </association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    qianggou_id, qianngou_name, create_time, logo, remark, directe_url, is_invalid, create_user, 
    qianggoubiao_time, qianggou_brand_id, qianggou_platform_id
  </sql>
  <sql id="WithBrand_Column_List">
  	q.qianggou_id, q.qianngou_name, q.create_time, q.directe_url, q.qianggoubiao_time,b.brand_id,b.brand_name
  </sql>
  <!-- 查询抢购表信息同时带品牌信息 -->
  <select id="selectByExampleWithBrand" resultMap="WithBrandResultMap">
	   select
	    <if test="distinct">
	      distinct
	    </if>
	    <include refid="WithBrand_Column_List" />
		FROM qianggoubiao q
		left join brand b on q.`qianggou_brand_id`=b.`brand_id`
	    <if test="_parameter != null">
	      <include refid="Example_Where_Clause" />
	    </if>
	    <if test="orderByClause != null">
	      order by ${orderByClause}
	    </if>
  </select>
  
  <select id="selectByExample" parameterType="com.cgd.crud.bean.QianggoubiaoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from qianggoubiao
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qianggoubiao
    where qianggou_id = #{qianggouId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qianggoubiao
    where qianggou_id = #{qianggouId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cgd.crud.bean.QianggoubiaoExample">
    delete from qianggoubiao
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cgd.crud.bean.Qianggoubiao">
    insert into qianggoubiao (qianggou_id, qianngou_name, create_time, 
      logo, remark, directe_url, 
      is_invalid, create_user, qianggoubiao_time, 
      qianggou_brand_id, qianggou_platform_id)
    values (#{qianggouId,jdbcType=INTEGER}, #{qianngouName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{logo,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{directeUrl,jdbcType=VARCHAR}, 
      #{isInvalid,jdbcType=CHAR}, #{createUser,jdbcType=VARCHAR}, #{qianggoubiaoTime,jdbcType=VARCHAR}, 
      #{qianggouBrandId,jdbcType=INTEGER}, #{qianggouPlatformId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cgd.crud.bean.Qianggoubiao">
    insert into qianggoubiao
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="qianggouId != null">
        qianggou_id,
      </if>
      <if test="qianngouName != null">
        qianngou_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="directeUrl != null">
        directe_url,
      </if>
      <if test="isInvalid != null">
        is_invalid,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="qianggoubiaoTime != null">
        qianggoubiao_time,
      </if>
      <if test="qianggouBrandId != null">
        qianggou_brand_id,
      </if>
      <if test="qianggouPlatformId != null">
        qianggou_platform_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="qianggouId != null">
        #{qianggouId,jdbcType=INTEGER},
      </if>
      <if test="qianngouName != null">
        #{qianngouName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="directeUrl != null">
        #{directeUrl,jdbcType=VARCHAR},
      </if>
      <if test="isInvalid != null">
        #{isInvalid,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="qianggoubiaoTime != null">
        #{qianggoubiaoTime,jdbcType=VARCHAR},
      </if>
      <if test="qianggouBrandId != null">
        #{qianggouBrandId,jdbcType=INTEGER},
      </if>
      <if test="qianggouPlatformId != null">
        #{qianggouPlatformId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cgd.crud.bean.QianggoubiaoExample" resultType="java.lang.Long">
    select count(*) from qianggoubiao
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update qianggoubiao
    <set>
      <if test="record.qianggouId != null">
        qianggou_id = #{record.qianggouId,jdbcType=INTEGER},
      </if>
      <if test="record.qianngouName != null">
        qianngou_name = #{record.qianngouName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.logo != null">
        logo = #{record.logo,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.directeUrl != null">
        directe_url = #{record.directeUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.isInvalid != null">
        is_invalid = #{record.isInvalid,jdbcType=CHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.qianggoubiaoTime != null">
        qianggoubiao_time = #{record.qianggoubiaoTime,jdbcType=VARCHAR},
      </if>
      <if test="record.qianggouBrandId != null">
        qianggou_brand_id = #{record.qianggouBrandId,jdbcType=INTEGER},
      </if>
      <if test="record.qianggouPlatformId != null">
        qianggou_platform_id = #{record.qianggouPlatformId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update qianggoubiao
    set qianggou_id = #{record.qianggouId,jdbcType=INTEGER},
      qianngou_name = #{record.qianngouName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      logo = #{record.logo,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      directe_url = #{record.directeUrl,jdbcType=VARCHAR},
      is_invalid = #{record.isInvalid,jdbcType=CHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      qianggoubiao_time = #{record.qianggoubiaoTime,jdbcType=VARCHAR},
      qianggou_brand_id = #{record.qianggouBrandId,jdbcType=INTEGER},
      qianggou_platform_id = #{record.qianggouPlatformId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cgd.crud.bean.Qianggoubiao">
    update qianggoubiao
    <set>
      <if test="qianngouName != null">
        qianngou_name = #{qianngouName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="directeUrl != null">
        directe_url = #{directeUrl,jdbcType=VARCHAR},
      </if>
      <if test="isInvalid != null">
        is_invalid = #{isInvalid,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="qianggoubiaoTime != null">
        qianggoubiao_time = #{qianggoubiaoTime,jdbcType=VARCHAR},
      </if>
      <if test="qianggouBrandId != null">
        qianggou_brand_id = #{qianggouBrandId,jdbcType=INTEGER},
      </if>
      <if test="qianggouPlatformId != null">
        qianggou_platform_id = #{qianggouPlatformId,jdbcType=INTEGER},
      </if>
    </set>
    where qianggou_id = #{qianggouId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cgd.crud.bean.Qianggoubiao">
    update qianggoubiao
    set qianngou_name = #{qianngouName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      logo = #{logo,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      directe_url = #{directeUrl,jdbcType=VARCHAR},
      is_invalid = #{isInvalid,jdbcType=CHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      qianggoubiao_time = #{qianggoubiaoTime,jdbcType=VARCHAR},
      qianggou_brand_id = #{qianggouBrandId,jdbcType=INTEGER},
      qianggou_platform_id = #{qianggouPlatformId,jdbcType=INTEGER}
    where qianggou_id = #{qianggouId,jdbcType=INTEGER}
  </update>
</mapper>